@model AirBench.Data.Bench

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>Bench</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            <span id="lon">
                @Html.DisplayFor(model => model.Longitude)
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            <span id="lat">
                @Html.DisplayFor(model => model.Latitude)
            </span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RatingAverage)
        </dt>



        @if (Model.RatingAverage == 0)
        {
            <dd>Not Rated</dd>
        }
        else
        {
            <dd>@Html.DisplayFor(model => model.RatingAverage)</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    Comments:
    @if (Model.Comments.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Rating
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Created on:
                </th>
                <th>
                    Created by:
                </th>
            </tr>

            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating) star(s)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No comments yet</p>
    }
</div>
<p>
    @Html.ActionLink("Add Comment", "Comment", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/Details.js">

</script>
